<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8">

  <title>Afrebas Mobile App</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" href="css/styles.css">

  <script src="js/Bridge.js"></script>

  <script>

    function login(){}

  </script>

</head>

<body>

 <div id="login">

  <m1>Dados do usuário</m1><br/><br/>

  <form>

    <div class="label">Márcio Corrêa</div><br/>
    <div class="label">Linha 18</div><br/>

    <div class="label">Status: OK</div><br/><br/>


    <button onclick="location.href = 'http://bsweb.com.br/afrebas';" type="button" class="btn">Sair</button>

  </form>

</div>

</body>

</html>